<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DR_MOVIE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&amp;subset=korean" rel="stylesheet">
    <style>
        body {
            background: black;
            color: white;
            font-family: 'Noto Sans', sans-serif;
            overflow-x: hidden;
        }

        .month_movie {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;;
        }

        .img-size {
            width: 150px;
        }

        .posthead {
            font-family: 'Noto Sans';
            font-weight: 700;
            color: gray;
        }

        .base_button {
            margin-top: 35px;
            margin-right: 100px;
        }

        .movie_score {
            font-size: 20px;
        }

        a:link {
            color: dodgerblue;
        }

        a:visited {
            color: dodgerblue;
            text-decoration: none;
        }

        a:hover {
            color: dodgerblue;
            text-decoration-line: underline;
        }

        .info {
            font-family: 'Noto Sans';
            font-weight: 700;
        }

        .info_text {
            font-family: 'Noto Sans';
            font-weight: 400;
        }

        .movie_info:after {
            content: "";
            clear: both;
            display: block;
        }

        /* Rating Star Widgets Style */
        .rating-stars ul {
            list-style-type: none;
            padding: 0;

            -moz-user-select: none;
            -webkit-user-select: none;
        }

        .rating-stars ul > li.star {
            display: inline-block;

        }

        /* Idle State of the stars */
        .rating-stars ul > li.star > i.fa {
            font-size: 1.5em; /* Change the size of the stars */
            color: #ccc; /* Color on idle state */
        }

        /* Hover state of the stars */
        .rating-stars ul > li.star.hover > i.fa {
            color: #FFCC36;
        }

        /* Selected state of the stars */
        .rating-stars ul > li.star.selected > i.fa {
            color: #FF912C;
        }

        table, tr, td {
                border: 1px solid darkgrey;
            }
        /* input box color */
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px black inset;
            -webkit-text-fill-color: white;
        }

    </style>
</head>
<body>

{% load bootstrap4 %}

{% if messages %}
    <div class="container d-flex justify-content-center">
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show ml-5 p-5 mt-3" role="alert" style="width: 40%;">
          <strong class="pt-0" style="font-size: 18px;">{{ message }}</strong>
          <button type="button" class="close mt-4" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
    </div>
{% endif %}

<div id="app">
    {% load static %}
    <nav class="row text-center sticky-top" style="background-color: rgba(0,0,0,0.7)">
        <div class="col">

        </div>
        <div class="col">
            <a href="{% url 'movies:movie_list' %}"><img src="{% static 'movies/netflix.png' %}" style="width: 50%"
                                                         class="mt-4"></a>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <div class="base_button">
                    <a class="d-inline-block" href="{% url 'accounts:user_list' %}">
                        <button type="button" class="btn btn-danger">😃 사용자 리스트</button>
                    </a>
                    <a class="d-inline-block" href="{% url 'accounts:user_detail' user.username %}">
                        <button type="button" class="btn btn-danger">마이페이지</button>
                    </a>
                    <a class="d-inline-block" href="{% url 'accounts:logout' %}">
                        <button type="button" class="btn btn-danger">로그아웃</button>
                    </a>
                </div>

            {% else %}
                <div class="base_button">
                    <a class="d-inline-block" href="{% url 'accounts:login' %}">
                        <button type="button" class="btn btn-danger">로그인</button>
                    </a>
                    <a class="d-inline-block" href="{% url 'accounts:signup' %}">
                        <button type="button" class="btn btn-danger">회원가입</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">

        <div class="my-5" style="font-family: 'Noto Sans', sans-serif;">
            <p style="font-weight: bold; font-size:40px;">{{ movie.title_ko }}</p>
            <p class="ml-2" style="font-size: 20px">{{ movie.title_en }}</p>
        </div>

        <div class="movie_info" style="display:inline;min-width:100%;">
            <div style="display:inline;float:left;width:30%">
                <img class="mb-3" src="{{ movie.poster_url }}" alt="{{ movie.title_ko }}포스터" style="width: 100%">
            </div>

            <div class="ml-4" style="display:inline;float:left;width:60%">
                {% if movie.average_score >= 0 and  movie.average_score < 1 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star0.png' %}" style="width: 200px" alt="star0">
                {% elif movie.average_score >= 1 and  movie.average_score < 2 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star0_5.png' %}" style="width: 200px" alt="star0_5">
                {% elif movie.average_score >= 2 and  movie.average_score < 3 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star1.png' %}" style="width: 200px" alt="star1">
                {% elif movie.average_score >= 3 and  movie.average_score < 4 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star1_5.png' %}" style="width: 200px" alt="star1_5">
                {% elif movie.average_score >= 4 and  movie.average_score < 5 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star2.png' %}" style="width: 200px" alt="star2">
                {% elif movie.average_score >= 5 and  movie.average_score < 6 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star2_5.png' %}" style="width: 200px" alt="star2_5">
                {% elif movie.average_score >= 6 and  movie.average_score < 7 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star3.png' %}" style="width: 200px" alt="star3">
                {% elif movie.average_score >= 7 and  movie.average_score < 8 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star3_5.png' %}" style="width: 200px" alt="star3_5">
                {% elif movie.average_score >= 8 and  movie.average_score < 9 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star4.png' %}" style="width: 200px" alt="star4">
                {% elif movie.average_score >= 9 and  movie.average_score < 10 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star4_5.png' %}" style="width: 200px" alt="star4_5">
                {% elif movie.average_score == 10 %}
                    <img class="mb-3 mr-1" src="{% static 'movies/star5.png' %}" style="width: 200px" alt="star5">
                {% endif %}
                <span style="font-size: 30px; font-weight: 700;">{{ movie.average_score }} / 10</span>
                <p class="info mt-2">✔️ 장르 : <span class="info_text">{{ movie.genre }}</span></p>
                <p class="info">✔️ 제작 국가 : <span class="info_text">{{ movie.nation }}</span></p>
                <p class="info">✔️ 개봉일 : <span class="info_text">{{ movie.open_dt }}</span></p>
                <p class="info">✔️ 상영시간 : <span class="info_text">{{ movie.movie_tm }} 분</span></p>
                <p class="info">✔️ 관람등급 : <span class="info_text">{{ movie.grade }}</span></p>
                <p class="info">✔️ 감독 : <span class="info_text naver_search"><a
                        href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{ movie.director }}"
                        target="_blank">{{ movie.director }}</a></span></p>
                <p class="info">✔️ 주연 : <span class="info_text naver_search"><a
                        href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{ movie.actor1 }}"
                        target="_blank">{{ movie.actor1 }}</a>, <a
                        href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{ movie.actor2 }}"
                        target="_blank">{{ movie.actor2 }}</a>, <a
                        href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{ movie.actor3 }}"
                        target="_blank">{{ movie.actor3 }}</a></span></p>
                <span id="test" style="CURSOR: hand; font-weight: 700; margin-bottom: 20%;"
                      onclick="if(plain.style.display=='none') {plain.style.display='';test.innerText='✔️  줄거리 접기'} else {plain.style.display='none';test.innerText='✔️  줄거리 보기'}">✔️  줄거리 보기</span>
                <div id="plain" class="mt-2 ml-4" style="display: none">{{ movie.description }}</div>
                <hr class="mt-4" align="left" style="border: solid 1px white; width: 80%;">
                <p style="font-size: 25px; font-weight: 700;">📣 누적관객 : {{ movie.audience }} 명</p>
            </div>
        </div>

        {# 예고편 #}
        <p class="ml-2 mt-3" style="font-family: 'Noto Sans', sans-serif; font-size: 20px; font-weight: bold;">예고편
            보기</p>
        {% if movie.trailer_url %}
            <iframe width="1100" height="560" src="https://www.youtube.com/embed/{{ movie.trailer_url }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        {% else %}
            <p>예고편이 없습니다</p>
        {% endif %}

        <div class="row mt-5 mb-3 justify-content-end" style="font-family: 'Noto Sans', sans-serif">
            <div class="px-2">
                <a href="{% url 'movies:movie_list' %}">
                    <button class="btn btn-secondary">홈으로 가기</button>
                </a>
            </div>
        </div>

        <hr>
        <form action="{% url 'movies:score_create' movie.id %}" method="POST">
            {% csrf_token %}
            <label for="value"></label>

            <section class="rating-widget">
                <!-- Rating Stars Box -->
                <div class="rating-stars" id="value" name="value">
                    <ul id="stars">
                        <li class="star" data-value="1">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="2">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="3">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="4">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="5">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="6">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="7">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="8">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="9">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                        <li class="star" data-value="10">
                            <i class="fa fa-star fa-fw"></i>
                        </li>
                    </ul>
                </div>
            </section>
            <label for="content"></label>
            <div class="d-inline-block mb-4" style="border: white 1px solid; width: 50%;">
                <input type="text" id="content" name="content" class="ml-3 review" style="width: 90%; height: 100px; background-color:transparent; color: white; border:none; outline: none;" placeholder="영화를 어떻게 보셨나요?">
                <input id="scoreValue" type="hidden" name="value">
            </div>
            <button type="submit" class="btn d-inline-block"><i class="fas fa-arrow-circle-down fa-50px" style="color: white; font-size: 30px;"></i></button>
            <i class="far fa-arrow-square-down"></i>
            <hr class="mt-4" align="left" style="border: solid 0.4px white; width: 80%;">
        </form>


            {% if scores %}
                {% for score in scores %}
                    <div class="row mt-1">
                        <div class="col-9">
                            <span class="lh" style="font-size: 22px; font-weight: bold;"><a href="{% url 'accounts:user_detail' score.user.username %}" style="color: white;">{{ score.user.username }}</a></span>
                            {% for _ in ''|center:score.value %}
                                <span><i class="fas fa-star ml-2" style="color: red; font-size: 15px;"></i></span>
                            {% endfor %}
                            <span class="lh" style="font-size: 19px; font-weight: bold;">{{ score.value }}.0</span>
                            <p class="lh mt-2 ml-2">✔️  {{ score.content }}</p>
                        </div>
                        {% if score.user == request.user %}
                            <form action="{% url 'movies:score_delete' movie_id=movie.id score_id=score.id %}"
                                  method="POST" class="col-1">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning py-1 px-2 my-1 inline-block"
                                        style="font-family: 'Noto Sans', sans-serif; font-weight: bold;">삭제
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <hr class="mt-4" align="left" style="border: solid 0.4px white; width: 80%;">
                {% endfor %}

            {% endif %}
        </section>
    </div>
</div>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script id="rendered-js">
    $(document).ready(function () {

        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                } else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                if (window.CP.shouldStopExecution(0)) break;
                $(stars[i]).removeClass('selected');
            }
            window.CP.exitedLoop(0);

            for (i = 0; i < onStar; i++) {
                if (window.CP.shouldStopExecution(1)) break;
                $(stars[i]).addClass('selected');
            }

            const scoreInput = document.querySelector('#scoreValue');
            scoreInput.value = document.querySelectorAll('.selected').length;

        });

    })
</script>
</body>